
    
    <form id="updateForm" class="inventoryUpdateForm login-container forms" action="/inv/update" method="post">

    <!-- Content Heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
    
    <%- messages() %>
    
    <% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
        <li>
            <%= error.msg %>
        </li>
        <% }) %>
    </ul>
    <% } %>

        <p>*** ALL FIELDS ARE REQUIRED ***</p>
    
        <label for="classification_id">Classification: </label>
        <select id="classification_id" name="classification_id" class="login-input" required>
            <%- classificationSelect %>
        </select>
    
        <label for="inv_make">Make: </label>
        <input type="text" id="inv_make" name="inv_make" class="login-input" required value="<%= locals.inv_make %>"
            placeholder="Min of 3 characters" minlength="3">
    
        <label for="inv_model">Model: </label>
        <input type="text" id="inv_model" name="inv_model" class="login-input" required value="<%= locals.inv_model %>"
            placeholder="Min of 3 characters" minlength="3">
    
        <label for="inv_description">Description: </label>
        <textarea id="inv_description" name="inv_description" class="login-input" required rows="5"><%= locals.inv_description %></textarea>
    
        <label for="inv_image">Image Path: </label>
        <input type="text" id="inv_image" name="inv_image" class="login-input" required value="<%= locals.inv_image %>"
            pattern=".*?(\/[\/\w\.]+)[\s\?]?.*">
    
        <label for="inv_thumbnail">Thumbnail Path: </label>
        <input type="text" id="inv_thumbnail" name="inv_thumbnail" class="login-input" required value="<%= locals.inv_thumbnail %>"
            pattern=".*?(\/[\/\w\.]+)[\s\?]?.*">
    
        <label for="inv_price">Price: </label>
        <input type="number" id="inv_price" name="inv_price" class="login-input" required value="<%= locals.inv_price %>" min="0" step="0.01"
            placeholder="decimal or integer">
    
        <label for="inv_year">Year: </label>
        <input type="number" id="inv_year" name="inv_year" class="login-input" required value="<%= locals.inv_year %>" min="1900" max="2024"
            placeholder="4-digit year">
    
        <label for="inv_miles">Miles: </label>
        <input type="number" id="inv_miles" name="inv_miles" class="login-input" required value="<%= locals.inv_miles %>" min="0" max="1000000"
            placeholder="digits only">
    
        <label for="inv_color">Color: </label>
        <input type="text" id="inv_color" name="inv_color" class="login-input" required value="<%= locals.inv_color %>" pattern="^[a-zA-Z]*$">
    
        <input class="inventoryUpdate-button form-button login-button" type="submit" value="Update Vehicle" disabled>
    
        <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
    </form>
    
    <script src="../../js/inv-update.js"></script>